.header{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(120,0,0);
    height: 65px;
}

.header .logo-wrapper{
    float: left;
}

.header .logo-wrapper img{
    width: 64px;
    aspect-ratio: 1;
    display: inline-block;
    clear: both;
}

.header .logo-wrapper h1{
    font-size: 24px;
    font-weight: 680;
    display: inline-block;
    clear: both;
    position: relative;
    top: -20px;
}

.header .links{
    float: right;
    margin-right: 15%;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: white;
}

.header .links li{
    display: inline-block;
    padding: 12px;
    margin: 0px 12px;
}

.header .menu.icn{
    font-size: 34px;
    /* border: 3px solid rgb(255, 255, 255); */
    border-radius: 50%;
    padding: 5px;
    position: relative;
    right: -75px;
    top: 12px;
    display: none;
}

.nav-links{
    width: 100;
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    top: 65px;
    left: 0px;
    z-index: 999;
    background-color: black;
    width: 100%;
    list-style: none;
    padding-top: 35px;
    display: none;
}

.nav-links li{
    padding: 12px ;
    color: white;
    font-size: 20px;
    text-align: center;
}


.nav-links a{
    text-decoration: none;
}


@media screen and (max-width: 830px){
    .links{
        display: none;
    }

    .header .menu.icn{
        display: inline-block;
    }

    .nav-links{
        display: block;
    }
}