#root{
    padding-top: 65px;
    background-color: black;
    font-family: "Montserrat";

    text-align: center;
}

body{
    background-color: black;
    color: white;
}

.null{
  margin-top: 35px;
  color: rgb(194, 194, 194);
}

.cta{
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 580;
    display: inline-block;
    text-align: center;
    border: none;
    color: white;
}

select:focus, input:focus{
  outline: none;
}

.pry-color{
    background-color: #930606;
}

.pry-color-light{
    background-color: #FF0000;
}

.danger{
    color: #FF0000;
}

.pry-form{
  display: inline-block;
  width: 95%;
  max-width: 580px;
  box-sizing: border-box;
  margin-top: 30px;
}

.pry-form h1{
  display: inline-block;
  width: 95%;
  max-width: 550px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 35px;
}

.pry-form label{
  display: inline-block;
  width: 90%;
  text-align: left;
}

.pry-form .field-wrapper{
  /* border: 1px solid blue; */
  display: inline-block;
  width: 90%;
  text-align: left;
  margin-bottom: 35px;
}

.pry-form input, .pry-form select{
  height: 35px;
  padding: 5px;
  background: none;
  width: 95%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.218);
  color: white;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.065);
    border-radius: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.138);
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.334);
  }
