.report-made{
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow-x: hidden;
}


.report-made img{
    width: 95%;
    aspect-ratio: 1;
    margin-bottom: 25px;
}

.report-made button{
    width: 95%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 620;
    font-size: 16px;
}